<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://kit.fontawesome.com/40500d7576.js" crossorigin="anonymous"></script>


<head>
    <title>Arkham Horror Chaos Bag Probability Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <nav class="navbar is-light has-shadow is-fixed-top">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="https://arkhamchaosbag.com/">
                        <img src="Elder Sign.png" height="60">
                    </a>
                    <span class="navbar-item">
                        Arkham Horror Chaos Bag Calculator
                    </span>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <a href="https://github.com/mgordin/ArkhamChaosBagCalculatorJS" alt="Github Link" class="button is-white"><i
                                class="fab fa-github"></i></a>
                    </div>
                    <div class="navbar-item">
                        <button class="button is-primary" v-on:click="calculateProbabilities">Calculate
                            probabilities</button>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar is-light has-shadow is-hidden-desktop is-fixed-top">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <button class="button is-primary" v-on:click="calculateProbabilities">Calculate
                        probabilities</button>
                </div>
            </div>
        </nav>

        <div class="modal" v-bind:class="{ 'is-active' : modalTokenIssueOpen }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Error in token configuration</p>
                  <button class="delete" v-on:click="closeModalTokenIssue" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p>The count or value for the following tokens are empty, so the calculation couldn't be run - fill them in and try again:</p>
                    <ul>
                        <li v-for="issue in modalIssueList">
                            {{ issue }}
                        </li>
                    </ul>
                </section>
              </div>
        </div>

        <div class="modal" v-bind:class="{ 'is-active' : modalRedrawMaxOpen }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Error in token configuration</p>
                  <button class="delete" v-on:click="closeModalRedrawMax" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p>Please enter a value for redraw max (in the Settings tab) and try again.</p>
                </section>
              </div>
        </div>

        <div class="modal" v-bind:class="{ 'is-active' : modalRedrawAlertOpen }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Your redraw max has been reset</p>
                  <button class="delete" v-on:click="closeModalRedrawAlert" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p>You have over 20 tokens that prompt redraws in the bag, and your redraw max is set to 6 or more.
                        That could take quite a while to finish calculating - so, instead, your redraw max has been reset
                        to 4, so the page will load promptly.  You can manually reset it to any value you want in Settings.
                    </p>
                </section>
              </div>
        </div>

        <div id='probPlot' >
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>

        <hr />

        <div class="tabs is-boxed">
            <ul>
                <li v-bind:class="{ 'is-active' : whichBlock == 'tokens' }" v-on:click="changeTabs('tokens')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-coins" aria-hidden="true"></i></span>
                        <span>Tokens</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' : whichBlock == 'abilities' }" v-on:click="changeTabs('abilities')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-magic" aria-hidden="true"></i></span>
                        <span>Abilities</span>
                    </a>
                </li>
                <li v-bind:class="{ 'is-active' : whichBlock == 'settings' }" v-on:click="changeTabs('settings')">
                    <a>
                        <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="block" v-if="whichBlock == 'settings'">
            <h1 class="title is-4">Redraw handling</h1>
            <p>With many "draw another token" tokens in the bag (e.g., Bless and Curse), calculating draw probabilities
                becomes very slow. The settings below let you customize redraw handling - setting a max number of
                redraws to calculate, and how to resolve redraws past that max. Clicking the "Plot redraw probabilities"
                button below will plot the probability of getting 1 - 10 redraws given your current token settings -
                i.e., what part of your overall token draw probability will be incorrect for a redraw max below your
                actual possible redraws. This can help inform what you set "Redraw max" to.
            
                For most cases, keeping your redraw max to 5 or lower is probably best, as this leaves little redraw chance
                unaccounted for, but the calculation runs in a manageable time.</p>
            <br>
            <div>Redraw max: <input v-model.number="redrawMax" type="number"></div>
            <div>How to resolve redraw over max:
                <select v-model="redrawHandling">
                    <option v-for="option in redrawOptions" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
            <div>
                <button class="button is-primary" v-on:click="updateRedrawsPlot">Plot redraw probabilities</button>
            </div>
            <div id='redrawsPlot'>
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>

        </div>
        <div class="block" v-else-if="whichBlock == 'tokens'">
            <h1 class="title">Token Configuration</h1>
            <span>Use starting tokens from campaign:</span>
            <select @change="setCampaignTokens($event)">
                <option v-for="option in campaignOptions" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            
            <div class="block pr-3 pl-3 is-hidden-touch">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Count</th>
                            <th>Value</th>
                            <th>Redraw?</th>
                            <th>Autofail?</th>
                            <th>Autofail if drawn after</th>
                        </tr>
                    </thead>
                    <tbody v-for="i in orderedTokens">
                        <tr>
                            <th>{{ tokens[i.k].fullName }}</th>
                            <td><input class="input is-fullwidth" v-bind:class="{ 'is-danger' : (tokens[i.k]['count']===null || tokens[i.k]['count']==='') }" v-model.number="tokens[i.k]['count']" type="number" min="0" max="4"></td>
                            <td><input class="input is-fullwidth" v-bind:class="{ 'is-danger' : (tokens[i.k]['value']===null || tokens[i.k]['value']==='') }" v-model.number="tokens[i.k]['value']" type="number"
                                    :disabled="tokens[i.k]['autofail']"></td>
                            <td><input class="checkbox is-fullwidth" v-model="tokens[i.k]['redraw']" type="checkbox" :disabled="tokens[i.k]['autofail']">
                            </td>
                            <td><input class="checkbox is-fullwidth" v-model="tokens[i.k]['autofail']" type="checkbox"></td>
                            <td>
                                <select class="select is-fullwidth" v-model="tokens[i.k]['autofailAfter']" :disabled="tokens[i.k]['autofail']">
                                    <option v-for="option in tokenOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="block pr-3 pl-3 is-hidden-desktop">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-parent is-8">
                        <article class="tile is-child box" v-for="i in orderedTokens">
                            <div class="box has-background-light">
                                <h1 class="title is-4"> {{ tokens[i.k].fullName }}</h1>
                            </div>
                            <table class="table is-fullwidth">
                                </tbody>
                                    <tr>
                                        <th>Count</th>
                                        <td>
                                            <input class="input is-fullwidth" v-bind:class="{ 'is-danger' : (tokens[i.k]['count']===null || tokens[i.k]['count']==='') }" v-model.number="tokens[i.k]['count']" type="number" min="0" max="1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Value</th>
                                        <td>
                                            <input class="input is-fullwidth" v-bind:class="{ 'is-danger' : (tokens[i.k]['value']===null || tokens[i.k]['value']==='') }" v-model.number="tokens[i.k]['value']" type="number"
                                                :disabled="tokens[i.k]['autofail']">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Redraw?</th>
                                        <td>
                                            <input v-model="tokens[i.k]['redraw']" type="checkbox" :disabled="tokens[i.k]['autofail']">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Autofail?</th>
                                        <td>
                                            <input v-model="tokens[i.k]['autofail']" type="checkbox">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Autofail if drawn after</th>
                                        <td>
                                            <select class = "select is-fullwidth" v-model="tokens[i.k]['autofailAfter']" :disabled="tokens[i.k]['autofail']">
                                                <option v-for="option in tokenOptions" v-bind:value="option.value">
                                                    {{ option.text }}
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="block" v-else-if="whichBlock == 'abilities'">
            <h1 class="title">Select abilities to be active</h1>
            <p>You may select multiple abilities via CTRL+click or SHIFT+click.</p><br>
            <div class="select is-multiple">
                <select v-model="abilitiesActive" multiple>
                    <option v-for="option in abilityOptions" v-bind:value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
        </div>

    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.js"
    integrity="sha512-+KihqiIrhYt4/tFb42KiOJ+wr0PM6dVMw9twO1Ju+sZ0OdgurvE/9dy2jAS0Fr0MCVryF2EXxPH9HRXg6CaFgg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
<script src="app.js"></script>